@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

html {
	height:100%;
}

body {
	background-image: url("../images/cat.jpg");
	background-size: cover;
  font-family: 'Lato', sans-serif;
  color:white;
}

h1 {
	font-size:5em;
	font-weight: 500; 
	font-family: 'Merriweather', serif;
}

hr {
    border: 0;
    height: 2px;
    width:400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#content {
	text-align:center;
	padding:20% 0 0 0;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
							 0px 8px 13px rgba(0,0,0,0.1),
							 0px 18px 23px rgba(0,0,0,0.1);
}




